In [1]:
#df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
#'londON_StockhOlm',
#'Budapest_PaRis', 'Brussels_londOn'],
#'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
#'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
#'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
#'12. Air France', '"Swiss Air"']})

In [2]:
#1. Some values in the the FlightNumber column are missing. These numbers are
#meant to increase by 10 with each row so 10055 and 10075 need to be put in
#place. Fill in these missing numbers and make the column an integer column
#(instead of a float column).

In [36]:
#2. The From_To column would be better as two separate columns! Split each
#string on the underscore delimiter _ to give a new temporary DataFrame with
#the correct values. Assign the correct column names to this temporary
#DataFrame.

In [ ]:
#3. Notice how the capitalisation of the city names is all mixed up in this
#temporary DataFrame. Standardise the strings so that only the first letter is
#uppercase (e.g. "londON" should become "London".)

In [ ]:
#4. Delete the From_To column from df and attach the temporary DataFrame
#from the previous questions.

In [31]:
#5. In the RecentDelays column, the values have been entered into the
#DataFrame as a list. We would like each first value in its own column, each
#second value in its own column, and so on. If there isn't an Nth value, the value
#should be NaN.

In [47]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']
})
df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)
tempdf = pd.DataFrame()
tempdf['From'] = df['From_To'].str.split('_').str[0].str.capitalize()
tempdf['To'] = df['From_To'].str.split('_').str[1].str.capitalize()
df.pop('From_To')
df = pd.concat([df, tempdf[['From', 'To']]], axis=1)
delays = pd.DataFrame(df.RecentDelays.values.tolist())
delays.columns = ['delay_1', 'delay_2', 'delay_3']
df.pop('RecentDelays')
df = pd.concat([df, delays[['delay_1', 'delay_2', 'delay_3']]], axis=1)
df

,FlightNumber,Airline,From,To,delay_1,delay_2,delay_3
0,10045,KLM(!),London,Paris,23.0,47.0,NaN
1,10055,<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075,12. Air France,Budapest,Paris,13.0,NaN,NaN
4,10085,"""Swiss Air""",Brussels,London,67.0,32.0,NaN

In [ ]:
#2. The From_To column would be better as two separate columns! Split each
#string on the underscore delimiter _ to give a new temporary DataFrame with
#the correct values. Assign the correct column names to this temporary
#DataFrame.

KeyError: 'From_To'